# AWS Services (SQS, S3)
boto3

# Configuration
python-dotenv

# Logging
python-json-logger

# FastAPI
fastapi
uvicorn[standard]

# Database
psycopg2-binary

# Testing
pytest

# Validation
pydantic
pydantic[email]

# Video processing
opencv-python